<!DOCTYPE html>
<html>
    <head>
        <title>{{pagetitle}}</title>
    </head>
    <body>
        <a href="/blog">Main Blog Page</a> 
        <a href="/newpost">Add a Blog Entry</a>
        <a href="/signup">Create Account</a>
            {% block content %}
            {% endblock %}
        
            {% with messages = get_flashed_messages() %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}

    </body>
</html>