{% extends 'base.html' %}

{% block content %}
 <h1>Add a Blog Entry</h1>

<form method="POST">
    <table>
        <tr>
            <td>
                <label for="title">Title for your new blog post:</label>
            </td>  
        </tr>
        <tr>
            <td>
                <input id="title" type="text" name = "title" value={{title}}>
            </td>
        </tr>
        <tr>
            <td>
                <label for="blogpost">Your new blog post:</label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea name="blogpost" value = {{blogpost}}></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add Entry" />
            </td>    
        </tr>
    </table>
</form>

{% endblock %}